<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}-Department</title>
    <link rel="stylesheet" href="department.css">
    <link rel="icon" href="Images/logo.jpg">
</head>
<body>
    <img src = "Images/bmsce-1170x560.jpg">
    <div class="cont">
        <img src ="Images/{{name}}.jpg">
        <b>{{HOD}}</b>
        <b>Head-Department of {{name}}</b>
        <h1>About Department</h1>
        <p>{{about}}</p>
        <h1>Vision</h1>
        <p>{{vision}}</p>
        <h1>Mission</h1>
        <p>{{mission}}</p>       
        <p>Go <a href="/students">Back</a></p>  
        </div>
        
</body>
</html>