<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}-Dept of {{department}}</title>
    <link rel="stylesheet" href="eachone.css">
    <link rel="icon" href="Images/logo.jpg">
</head>
<body>
    <img src = "Images/bmsce-bangalore-nri-quota-international-admission-2019-500x500.jpg">
    <div class="cont">
        <img src = "Images/default-user.png">
            <b>Name:{{name}}</b>
            <p></p>
            <b>Department:{{department}}</b>
            <p></p>
            <b>USN:{{usn}}</b>
            <p></p>
            <b>Email:{{email}}</b>
            <p></p>
            <b>Year:{{year}}</b>
            <p></p>
            <b>Sem:{{sem}}</b>
            <p></p>
            <b>Number of Books taken:{{nob}}</b>
            <p></p>
            <b>Want to add More Details?Click <a href = "/other?name={{name}}">Here</a></b>
            <b> And fill book_title,book_author and book_ISBN only</b><p></p>       
</body>
</html>